@-webkit-keyframes go-up {
	from {
		bottom: 10%;
		opacity: 0;
	}
	to {
		bottom: 20%;
		opacity: 0.95;
	}
}
@keyframes go-up {
	from {
		bottom: 10%;
		opacity: 0;
	}
	to {
		bottom: 20%;
		opacity: 0.95;
	}
}

@-webkit-keyframes go-up-mobile {
	from {
		bottom: -10%;
		opacity: 0;
	}
	to {
		bottom: 0%;
		opacity: 0.95;
	}
}
@keyframes go-up-mobile {
	from {
		bottom: -10%;
		opacity: 0;
	}
	to {
		bottom: 0%;
		opacity: 0.95;
	}
}

@-webkit-keyframes go-down {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: -100px;
		opacity: 1.0;
	}
}
@keyframes go-down {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: -100px;
		opacity: 1.0;
	}
}

@-webkit-keyframes go-down-mobile-portrait {
	from {
		top: -150px;
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1.0;
	}
}
@keyframes go-down-mobile-portrait {
	from {
		top: -150px;
		opacity: 0;
	}
	to {
		top: 0px;
		opacity: 1.0;
	}
}

@-webkit-keyframes go-down-mobile-landscape {
	from {
		top: -150px;
		opacity: 0;
	}
	to {
		top: -25px;
		opacity: 1.0;
	}
}
@keyframes go-down-mobile-landscape {
	from {
		top: -150px;
		opacity: 0;
	}
	to {
		top: -25px;
		opacity: 1.0;
	}
}
@-webkit-keyframes minimize {
	from {
		-webkit-transform: scale(1.0);
	}
	to {
		-webkit-transform: scale(0.85);
	}
}
@-moz-keyframes minimize {
	from {
		-moz-transform: scale(1.0);
	}
	to {
		-moz-transform: scale(0.85);
	}
}
@keyframes minimize {
	from {
		transform: scale(1.0);
	}
	to {
		transform: scale(0.85);
	}
}

@-webkit-keyframes changeColor {
  0% { background-color: #ffffff;}
  50% { background-color: #cb2129;}
  100% { background-color: #ffffff;}
} 

@-moz-keyframes changeColor {
  0% { background-color: #ffffff;}
  50% { background-color: #cb2129;}
  100% { background-color: #ffffff;}
} 

@keyframes changeColor {
  0% { background-color: #ffffff;}
  50% { background-color: #cb2129;}
  100% { background-color: #ffffff;}
}

@-webkit-keyframes fadein {
	from {
		-webkit-opacity: 0.1;
	}
	to {
		-webkit-opacity: 1.0;
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1.0;
	}
}


